body{font-family: 'Open Sans', sans-serif;
margin:0;
}
/* banner styles */
.banner-title{color: #272727;
    font-family: Lato;
    font-size: 80px;
    
    font-weight: 800;
    padding-bottom:5px;
   }
.banner-info{color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 20px;
    
    font-weight: 400;
    line-height: 30px;
    
    
}   
.banner-btn{border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 30px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
font-family: Lato;
font-size: 18px;

font-weight: 700;

border:0;
color:#FFFFFF }    
.banner-container{display: flex;
align-items: center;
padding: 0px 200px 0px 200px;
justify-content: space-around;
background: rgba(229, 84, 115, 0.10);

flex-shrink: 0;


}
.banner-text{display: block;
align-items: center;
}
.banner-img{
    width: 635px;
height: 800px;
flex-shrink: 0;
padding-top: 50px;
}

/* feature styles */
.feature-title{color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    
    font-weight: 800;
   }
   .feature-des{color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;}
    .feature-box{display: flex;
    align-content: center;
    justify-content: center;
    gap:24px

}
.fbox1{border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
height: 538px;
flex-shrink: 0;
    }
.fbox2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 464px;
height: 538px;
flex-shrink: 0;}
.fbox3{border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;}
.fimg1{padding:110px 78px 0px 76px}
.fimg2{padding:117px 47px 50px 47px}
.fimg3{padding:67px 75px 0px 75px}
.img-cap{color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
     font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;}
    .feature{padding-top:100px;
    height:950px}
    /* support section */
.support-section{display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
   
    width: 1440px;
height: 320px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin:auto;
margin-bottom: 150px;
}
.icon{color: rgba(39, 39, 39, 0.80);
    
    font-family: Lato;
    font-size: 20px;
    
    font-weight: 600;
    line-height: 35px;}
/* hot deals style */

.hot-title{color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;}
.hot-text{color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;}
    .hot-container{display: flex;
    justify-content:space-around;
align-items: center;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
height:620px}

.btn{padding-left: 180px;}
/* instagram section styles */

.insta-container{display:flex;
justify-content: center;
gap:24px}
.insta{padding-top: 100px;
height:700px}
/* latest deals styles */
.deal-container{width: 1440px;
    height: 345px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url('Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
display:block;
    text-align: center;
    align-items: center;
margin:auto;
margin-bottom: 150px;
padding-top: 100px;
}
.mail-box{width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
border: none;}
    